---
apiVersion: v1
kind: Service
metadata:
  name: {{ env }}-{{ project_name }}-{{ module }}
  namespace: {{ project_name }}
spec:
  ports:
    - port: 8181
      targetPort: 8181
      protocol: TCP
  type: NodePort
  selector:
    app: {{ env }}-{{ project_name }}-{{ module }}