---
apiVersion: v1
kind: Service
metadata:
  name: {{ env }}-{{ project_name }}-{{ module }}
spec:
  ports:
    - port: 8181
      targetPort: 8181
      protocol: TCP
  type: ClusterIP
  selector:
    app: {{ env }}-{{ project_name }}-{{ module }}